.listContainer{
	border: 1px solid #687D6D;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #ccc;
	margin: 3%;
}

.listContainer .heading{
	background: grey;
	border-radius: 5px 5px 0 0;
	color: black;
	padding: 10px 20px;
}

.listContainer .list{

}

.listContainer .list .task{
	border: 1px solid grey;
	padding: 5px 10px;
}

.listContainer .list .task .showOnHover{
	display: none;
}

.listContainer .list .task:hover .showOnHover{
	display: inline-block;
	float: right;
}

