{% for todo_list in todo_lists %}
  <div class="listContainer">
    <div class="heading">
      {{ todo_list.name }}: {{ todo_list.id }}
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add_modal_{{todo_list.id}}" id="newButton">New</button>
      <div class="dropdown" id="dropdownmenu_">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sorting
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {%if completed%}
          {% with "/tasks/completed" as base_url %}{% include sorting %}{% endwith %}
          {%else%}
          {% with "/tasks" as base_url %}{% include sorting %}{% endwith %}
          {%endif%}
        </ul>
      </div>
      <!-- Modal -->
      {% include add %}
    </div>

      <ul id="todoList">
        {% comment %} The following line is replaced with the contents of list.html {% endcomment %}
        {% include list %}

        <!-- Modal edit task-->


      </ul>
  </div>
  {# {% with i+1 as i%}#}
{% endfor %}
