{%for item in todos%}
  <div class="taskText">
    <li id="onHover">{{ item.task_name }}</li>
    <div class="showOnHover">

      <a href="/com/{{ item.user_id }}/{{ item.id }}/" class="btn btn-xs btn-success">{% if item.completed %}Uncomplete{%else%}Complete{% endif %}</a>
      <a href="#" class="btn btn-xs btn-warning">Edit</a>
      <a href="/rem/{{ item.user_id }}/{{ item.id }}/" class="btn btn-xs btn-danger">Delete</a>
    </div>
  </div>
{% endfor %}

<!--
{%for item in todos%}
    <div class="taskInfo">
        <ul>
            <li id="category">{{ item.category }}</li>
            <li id="start">{{ item.start_time }}</li>
            <li id="end">{{ item.end_time }}</li>
            <li id="point">{{ item.points }}</li>
            <li id="pointType">{{ item.point_type }}</li>
            <li id="priority">{{ item.priority }}</li>
            <li id="rank">{{ item.manual_rank }}</li>
        </ul>
    </div>
{% endfor %}
-->
