{% for todo_list in todo_lists %}
  <div class="listContainer">
    <div class="heading">
      {{ todo_list.name }}
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" id="newButton">New</button>
      <div class="dropdown" id="dropdownmenu_">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sorting
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {%if completed%}
          <li><a href="/tasks/completed/sort_by_points">Points</a></li>
          <li><a href="/tasks/completed/sort_by_start_time">Start Time</a></li>
          <li><a href="/tasks/completed/sort_by_due_time">End Time</a></li>
          <li><a href="/tasks/completed/sort_by_name">Name</a></li>
          <li><a href="/tasks/completed/sort_by_priority">Priority</a></li>
          {%else%}
          <li><a href="/tasks/sort_by_points">Points</a></li>
          <li><a href="/tasks/sort_by_start_time">Start Time</a></li>
          <li><a href="/tasks/sort_by_due_time">End Time</a></li>
          <li><a href="/tasks/sort_by_name">Name</a></li>
          <li><a href="/tasks/sort_by_priority">Priority</a></li>
          {%endif%}
        </ul>
      </div>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Task</h4>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Task Title" aria-describedby="basic-addon1" id="titleInput">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" id="createButton" >Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <ul id="todoList">
        {% comment %} The following line is replaced with the contents of list.html {% endcomment %}
        {% include list %}

        <!-- Modal edit task-->
        <div id="editModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Task</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Task Title" aria-describedby="basic-addon1" id="editInput">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="editButton">Edit Task</button>
              </div>
            </div>
          </div>
        </div>

      </ul>
  </div>
  {# {% with i+1 as i%}#}
{% endfor %}
